# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.tfstate.lock.info
.terraformrc
terraform.rc

# Crash log files
crash.log
crash.*.log

# Certificates
*.pem
*.key

# Python
**/__pycache__/
*.pyc