address = "https://vault.server.com:8200"
token   = "VAULT_TOKEN_PLACEHOLDER"

team1_dev_account_id  = "0987654321"
team1_prod_account_id = "0987654321"
team2_dev_account_id  = "0987654321"

team1_dev_spoke_role_name  = "ra-spoke-team1-dev"
team1_prod_spoke_role_name = "ra-spoke-team1-prod"
team2_dev_spoke_role_name  = "ra-spoke-team2-dev"
