APP_MESSAGE=Hello world from Vault Secrets Operator and IAM Roles Anywhere
AWS_REGION=us-east-2
AWS_PROFILE_ARN=arn:aws:rolesanywhere:us-east-2:123456789012:profile/REPLACE_ME
AWS_ROLE_ARN=arn:aws:iam::123456789012:role/REPLACE_ME
AWS_TRUST_ANCHOR_ARN=arn:aws:rolesanywhere:us-east-2:123456789012:trust-anchor/REPLACE_ME
APP_IMAGE=<registry>/roles-anywhere-hello-world:0.1.0
AWS_SIGNING_HELPER_IMAGE=<registry>/aws-signing-helper:1.8.0
VAULT_ADDR=https://your-vault-host:8200
VAULT_NAMESPACE=admin
VAULT_AUTH_MOUNT=jwt
VAULT_AUTH_ROLE=roles-anywhere-demo
VAULT_AUTH_SERVICE_ACCOUNT=roles-anywhere-demo
VAULT_AUTH_AUDIENCE=vault
VAULT_PKI_MOUNT=pki-aws-int
VAULT_PKI_ROLE=team1
SPIFFE_URI=spiffe://example/Team1/App1/hello-world
